.Nav {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(bgnav.png);
  color: #fff;
  width: 100%;
  height: 100px;
  z-index: 1000;
}

.Nav .cart-container {
  font-family: fantasy;
  font-weight: bold;  
  position: fixed;
  left: 62%;
  top: 6%;
  width: 30px;
  height: 30px;

}

.Nav .cartlogo {
  position: fixed;
  left: 60%;
  top: 5%;
  width: 30px;
  height: 30px;
}


.content {
  margin-top: 120px;
}

.logo {
  position: absolute;
  top: -30%;
  left: 1%;
  height: 160%;
  width: 15%;
}

.jacketslogo {
  position: absolute;
  height: 55px;
  width: 55px;
  top: 30%;
  left: 22%;
  bottom: 30%;
}

.jackets {
  position: absolute;
  color: white;
  font-size: 200%;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: none;
  left: 25%;
  bottom: -10%;

}

.jeans {
  position: absolute;
  color: white;
  font-size: 200%;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: none;
  left: 35%;
  bottom: -10%;

}

.jeanlogo {
  position: absolute;
  height: 55px;
  width: 55px;
  top: 30%;
  left: 32%;
  bottom: 30%;

}

.gloveslogo {
  position: absolute;
  height: 55px;
  width: 55px;
  top: 30%;
  left: 41%;
  bottom: 30%;


}

.gloves {
  position: absolute;
  color: white;
  font-size: 200%;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: none;
  left: 44%;
  bottom: -10%;

}

.accountlogo {
  position: absolute;
  height: 55px;
  width: 55px;
  left: 90%;
  bottom: 30%;
  bottom: 25%;

}

.blog {
  position: absolute;
  color: white;
  font-size: 200%;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: none;
  left: 75%;
  top: 10%;

}
/* FOOTER*/

.footertxt {
  color: white;
  font-size: 50px;
}
.Footer .flag {
  height: 20px;
  vertical-align: middle;
}

.flag {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
  height: 40px;
  width: 45px;
}

.container {
  display: flex;
  width: 110%;
  background-color: #333;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -100px;
  margin-top: 20px;
}



.logo_home {
  position: absolute;
  height: 80%;
  width: 75%;
  top: 10.5%;
  margin-left: 10%;
  margin-right: 10%;

}

/*Blog part */

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.blog-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.blog-title {
  text-decoration: underline;
  font-size: larger;
  font-family: fantasy;
  text-align: center;
  font-size: 29px;
  margin-bottom: 10px;
}

.blog-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.blog-paragraph {
  font-size: larger;
  font-family: fantasy;
  flex: 1;
  padding: 20px;
}

.blog-image {
  max-height: 30%;
  max-width: 40%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

/*PRODCUTS*/

.product-container {
  padding: 20px;
}

.products {
  margin-top: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.product button:hover {
  background-color: #0056b3;
}
/*NAV CART */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-info {
  margin-right: 200px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* PRODUCTS */
.product:hover {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product h3 {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
}

.price {
  font-family: fantasy;
  font-weight: bold;
  font-size: large;
  color: red
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.message {
  font-family: fantasy;
  font-weight: bold;
  font-size: larger;
  width: 50%;
  padding-right: 20px;
}

.image {
  width: 50%;
}

.image img {
  max-width: 100%;
  height: auto;
}

 /* Home 4 images */
 .Home {
  text-align: center;
  padding-top: 5%;
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.Hometitle h1 {
  font-size: 72px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.PromotionalBanner {
  background-color: #ff6347;
  color: white;
  padding: 20px;
  margin-bottom: 40px;
}

.PromotionalBanner h2 {
  margin: 0;
  font-size: 32px;
}

.Homeimages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 40px;
}

.Homeimages img {
  flex: 1;
  margin: 0 10px;
  width: calc(25% - 20px);
  height: 500px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.Introtxt {
  margin-top: 40px;
  padding: 0 20px;
}

.Introtxt p {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
}

.Reviews {
  margin-top: 40px;
  padding: 0 20px;
}

.Reviews h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.Reviews blockquote {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
  font-style: italic;
}

/* SIGNUP AND LOGIN */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.signup-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.signup-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
}

.title {
  color: black;  
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}


  input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);

    &:focus {
      border: 2px solid rgba(0, 206, 158, 1);
    }
  }

  label {
    margin-top: 1rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background: blue;
    color: white;
    border: none;
  }


